.textOverflowEllipsis(){
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
}
.heightCalc(@hei, @gap) {
  height: @hei;
  height: -webkit-calc(~'@{hei} - @{gap}');
  height: -moz-calc(~'@{hei} - @{gap}');
  height: -o-calc(~'@{hei} - @{gap}');
  height: calc(~'@{hei} - @{gap}');
}
.topCalc(@top, @gap) {
  top: @top;
  top: -webkit-calc(~'@{top} - @{gap}');
  top: -moz-calc(~'@{top} - @{gap}');
  top: -o-calc(~'@{top} - @{gap}');
  top: calc(~'@{top} - @{gap}');
}

